@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html,body{
    height: 100%
}
#container {
    min-height: 100%;
    position:relative;
}
#content {
    padding-bottom: 30px;
}

.page-header {
      background: #ffd147; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #2685a5, #58cdf4);
  background: -moz-linear-gradient(right, #2685a5, #58cdf4);
  background: -o-linear-gradient(right, #2685a5, #58cdf4);
  background: linear-gradient(to left, #2685a5, #58cdf4);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
    margin-top: 0;
    margin-bottom: 2;
    padding: 20px 20px 30px 40px;
}

.logged-in-menu {
  float: right;
  padding-right: 3px;
  position: relative;
  color: #ffffff;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    text-decoration: none;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: "Roboto", sans-serif;
}


.nav>li>a {
    background-color: #f4fafc !important;
    color: #000;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #FFFF00;
    color: #FFC0CB;
    padding: 3px;
}

ul.nav a:hover { 
  color: #2685a5 !important; 
  background: #7ecefc !important;
}


form {
  margin-top: 0;
  margin-bottom: 0;
}

.footer {
  position: absolute;
  background: #ffd147; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #58cdf4, #2685a5);
  background: -moz-linear-gradient(right,  #58cdf4, #2685a5);
  background: -o-linear-gradient(right, #58cdf4, #2685a5);
  background: linear-gradient(to left, #58cdf4, #2685a5);
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #ffffff;
  height: 30px;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}

.list-platforms {
    	margin-left: 20px;
	margin-right: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
    }
.list-platforms p{
    	padding: 10px;
    }

.jumbotron{
	padding-top: 10px !important;
	padding-bottom: 10px !important;
    	background-color: #f4fafc;
}
.thanks {
	text-align: center;
	background-color: #ddffe3;
    }
.helpmore {
	text-align: center;
	background-color: #eaf4ff;
    }
.keepleft {
	text-align: left;
	background-color: #eaf4ff;
    }
.img-responsive {
	display: block;
	max-width: 10%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
.img-float-right {
	float: right;
	max-width: 20%;
}
.img-float-left {
	float: left;
	max-width: 20%;
}

.img-50 {
	max-width: 50%;
}

.img-40 {
	max-width: 40%;
}

.facebook_button {
    display: inline-block;

    background: #627aac url(facebook_small.png) left no-repeat;

    border-top: 1px solid #29447e;
    border-right: 1px solid #29447e;
    border-bottom: 1px solid #1a356e;
    border-left: none;

    height: 30px;

    padding-right: 7px;
    padding-left: 40px;

    font-weight: bold;
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    line-height: 22px;

    cursor: pointer;
}

