@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.page-header {
      background: #ffd147; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #2685a5, #58cdf4);
  background: -moz-linear-gradient(right, #2685a5, #58cdf4);
  background: -o-linear-gradient(right, #2685a5, #58cdf4);
  background: linear-gradient(to left, #2685a5, #58cdf4);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
    margin-top: 0;
    margin-bottom: 2;
    padding: 20px 20px 30px 40px;
}

.logged-in-menu {
  float: right;
  position: relative;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: "Roboto", sans-serif;
}


.nav>li>a {
    background-color: #f4fafc !important;
    color: #000;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #FFFF00;
    color: #FFC0CB;
}

ul.nav a:hover { 
  color: #2685a5 !important; 
  background: #7ecefc !important;
}

form {
  margin-top: 0;
  margin-bottom: 0;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background: #ffd147; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #58cdf4, #2685a5);
  background: -moz-linear-gradient(right,  #58cdf4, #2685a5);
  background: -o-linear-gradient(right, #58cdf4, #2685a5);
  background: linear-gradient(to left, #58cdf4, #2685a5);
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #ffffff;
}
