<!-- templates/base.html -->
{% load socialaccount %}
{% load custom %}
{% load i18n %}
{% load static %}

<html>
    <head>
        <title>Geo-social activity research by Levente</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'site.css' %}">
    </head>

<body>
	<div id="container">
	    <div class="page-header">
            <h1><a href="/">Geo-social activity research</a></h1>
            {% if user.is_authenticated %}
            <div class="logged-in-menu">
	      <form method="post" action="{% url 'account_logout' %}?next=/social">
	      {% csrf_token %}
	      {% if redirect_field_value %}
	      <input type="hidden" name="{{ redirect_field_name }}" value="/"/>
	      {% endif %}
	      <button type="submit" class="btn-info" data-toggle="tooltip" data-placement="top" title="Log out from the site. You can always log back in and check your connections on the Social accounts page.">Log out</button>
	      </form>
	    </div>
            <div class="logged-in-menu">
	      <p>You're logged in!</p>
	    </div>
	    {% endif %}
            </div>
<ul class="nav nav-tabs nav-justified">
        <li {% if nav_bar == 'home' %}class ="active"{% endif %}><a href="/">Home</a></li>
        <li {% if nav_bar == 'about_research' %}class ="active"{% endif %}><a href="/about">About this research</a></li>
	<li {% if nav_bar == 'howitworks' %}class ="active"{% endif %}><a href="/tool">How it works</a></li>
       <li {% if nav_bar == 'social' %}class ="active"{% endif %}><a href="/social">Social accounts</a></li>
	<li {% if nav_bar == 'results' %}class ="active"{% endif %}><a href="/results">Results</a></li>
    </ul> 

<div id="content">
{% if nav_bar == 'social' %}

{% block social %}
{% endblock %}

{% endif %}

{% if nav_bar == 'home' %}

{% block basic %}
{% endblock %}

{% endif %}

{% if nav_bar == 'results' %}
	{% block results %}
	{% endblock %}
{% endif %}

{% if nav_bar == 'contact' %}
	{% block contact %}
	{% endblock %}
{% endif %}

{% if nav_bar == 'share_google' %}
	{% block google %}
	{% endblock %}
{% endif %}

{% if nav_bar == 'social_connections' %}
	{% block socialconnections %}
	{% endblock %}
{% endif %}

{% if nav_bar == 'howitworks' %}
	{% block tool %}
	{% endblock %}
{% endif %}

{% if nav_bar == 'about_research' %}
	{% block about %}
	{% endblock %}
{% endif %}

{% if nav_bar == 'privacy' %}
	{% block privacy %}
	{% endblock %}
{% endif %}
</div>




	<div class="footer">
		<a href="/privacy">Privacy policy</a>
		|
		<a href="/contact">Get in touch</a>

	</div>
	</div>
</body>

