{% extends 'base.html' %}

{% load socialaccount %}
{% load custom %}
{% load i18n %}
{% load static %}

{% block contact %}

<div class="jumbotron">
                <h2>Contact</h2>
		<p>There are many ways to get ahold of me. First and foremost, try sending an email to <a href="mailto:levente.juhasz@ufl.edu">levente.juhasz@ufl.edu</a>. I'll get back to you, promise.</p>
		<p>Feel free to browse my blog at <a href="https://blog.jlevente.com" target="_blank">blog.jlevente.com</a> and leave a comment. Be aware, comments go unnoticed sometimes.</p>
		<p>If you're looking for a copy of my papers, see an updated list of them on my <a href="https://www.researchgate.net/profile/Levente_Juhasz" target="_blank">Researchgate profile</a>. They are accessible there. Sometimes it's the final article (if license allows), sometimes it's a post peer-review copy.</p>
		<p>Want to track me down on social media? No problem! Shoot <a href="https://twitter.com/juhaszlevi" target="_blank">@juhaszlevi</a> a Tweet, follow me on <a href="https://instagram.com/jlevente" target="_blank">Instagram</a>, or check my mapping activities on <a href="http://openstreetmap.org/user/jlevente" target="_blank">OpenStreetMap</a> and <a href="https://mapillary.com/app/user/jlevente">Mapillary</a>.
</div>
{% endblock %}
