{% extends 'base.html' %}

{% load socialaccount %}
{% load custom %}
{% load i18n %}
{% load static %}

{% block basic %}

<div class="jumbotron">
                <h2><b>Welcome...</b></h2>
		<img class="img-thumbnail img-responsive img-float-right" src="{% static 'mia_500.jpg' %}" alt="High five!"></p>
            	<p>... and hello! I'm <a href="/contact">Levente</a>, a PhD Candidate in the <a href="http://flrec.ifas.ufl.edu/geomatics/" target="_blank">Geomatics Program</a> at the University of Florida. I built this website to gather some awesome people who'd help me out in completing the last piece of my PhD research.</p>

		<p>My research aims to understand how people use different social media and online services and how this is reflected in the spatial footprints of users. To get to this point, I need data, reliable data... and lots of it. This is how <b>you can help</b>! I'd like to ask you to share your online profiles with me so I could conduct my research on a large database that allows to come up with meaningful conclusions. On this website, you can authenticate with different social media providers and authorize my research tools to collect some information. I am interested in looking at how diferent online activities are across services, so the more of your profiles you share, the further my research goes.</p> 

		<p>Excited about <b>helping out</b>? Go on and share your online profiles with me!</p>
            	<p><a href="/social" class="btn btn-success btn-lg">Take me where I can help</a></p>
		<p>Need some more information? I totally understand. You can read more about <a href="/about">this research</a> and learn how my <a href="/tool">tool works</a>.</p>
		</br>
		<p>Still got questions? I'm happy to answer them! Here's how you can <a href="/contact">get in touch</a>!</p>

 </div>

{% endblock %}
