{% extends 'base.html' %}

{% load socialaccount %}
{% load custom %}
{% load i18n %}
{% load static %}

{% block privacy %}

<div class="jumbotron">
                <h2>Privacy Notice</h2>
		<p>
This privacy notice discloses the privacy practices for <a href="https://research.jlevente.com">research.jlevente.com</a>. This privacy notice applies solely to information collected by this website.</p>
<h2>Types of data collected</h2>
<p>
Among the types of Personal Data that this Application collects, by itself or through third parties, there are: Cookies, email address, first name, last name, geolocation data and user name. The Personal Data may be freely provided by the User, or collected automatically when using this Application.</p>

<h2>The use of the collected data</h2>
<p>The Data concering the user for the following purposes:</p>
<li>Registration and authentication</li>
<li>Collecting geolocation data from external social networks and platforms</li>
<li>Hosting and backend infrastructure</li>
<li>Academic research</li>
<p>The Personal Data used for each purpose is outlined in the specific sections of this document.</p>

<h2>Detailed information on the processing of Personal Data</h2>

<p>Personal Data is collected for the following purposes and using the following services:</p>
<h3>Registration and authentication</h3>

<p>By registering or authenticating, Users allow this Application to identify them and give them access to dedicated services.

Third parties may provide registration and authentication services if the User chooses this option. In this case, this Application will be able to access some Data, stored by these third party services, for registration or identification purposes.</p>

<p><b>Facebook OAuth (Facebook, Inc.)</b></p>

Facebook OAuth is a registration and authentication service provided by Facebook, Inc. and is connected to the Facebook social network. Personal Data collected: various types of Data as specified in the privacy policy of the service. Place of processing: US – <a href="https://www.facebook.com/help/405977429438260" target="_blank">Privacy Policy</a><br />

<p><b>Twitter OAuth (Twitter, Inc.)</b></p>

Twitter Oauth is a registration and authentication service provided by Twitter, Inc. and is connected to the Twitter social network. Personal Data collected: various types of Data as specified in the privacy policy of the service. Place of processing: US – <a href="https://twitter.com/en/privacy" target="_blank">Privacy Policy</a><br />

<p><b>Instagram OAuth (Facebook, Inc.)</b></p>

Instagram OAuth is a registration and authentication service provided by Facebook, Inc. and is connected to the Instagram social network. Personal Data collected: various types of Data as specified in the privacy policy of the service. Place of processing: US – <a href="https://www.instagram.com/about/legal/terms/api/" target="_blank">Privacy Policy</a><br />

<p><b>Flickr OAuth (Yahoo, Inc.)</b></p>

Flickr OAuth is a registration and authentication service provided by Yahoo, Inc. and is connected to the Flickr social network. Personal Data collected: various types of Data as specified in the privacy policy of the service. Place of processing: US – <a href="https://policies.yahoo.com/privacy/flickr/" target="_blank">Privacy Policy</a><br />

<p><b>Foursquare OAuth (Foursquare Labs, Inc.)</b></p>

Foursquare OAuth is a registration and authentication service provided by Foursquare Labs, Inc. and is connected to the Foursquare and Foursquare/Swarm social networks. Personal Data collected: various types of Data as specified in the privacy policy of the service. Place of processing: US – <a href="https://foursquare.com/legal/privacy" target="_blank">Privacy Policy</a><br />

<p><b>Meetup OAuth (Meetup, Inc.)</b></p>

Meetup OAuth is a registration and authentication service provided by Meetup, Inc. and is connected to the Meetup social network. Personal Data collected: various types of Data as specified in the privacy policy of the service. Place of processing: US – <a href="https://www.meetup.com/privacy/" target="_blank">Privacy Policy</a><br />

<p><b>OpenStreetMap OAuth (OpenStreetMap Foundation)</b></p>

OpenStreetMap OAuth is a registration and authentication service provided by the OpenStreetMap Foundation and is connected to the OpenStreetMap platform. Personal Data collected: various types of Data as specified in the privacy policy of the service. Place of processing: US – <a href="https://wiki.openstreetmap.org/wiki/Privacy_Policy" target="_blank">Privacy Policy</a><br />

<p><b>Mapillary OAuth (Mapillary AB)</b></p>

Mapillary OAuth is a registration and authentication service provided by Mapillary AB and is connected to the Mapillary platform. Personal Data collected: various types of Data as specified in the privacy policy of the service. Place of processing: US – <a href="https://www.mapillary.com/privacy" target="_blank">Privacy Policy</a><br />

<p><b>Strava OAuth (Strava, Inc.)</b></p>

Strava OAuth is a registration and authentication service provided by Strava, Inc. and is connected to the Strava social network. Personal Data collected: various types of Data as specified in the privacy policy of the service. Place of processing: US – <a href="https://www.strava.com/legal/privacy" target="_blank">Privacy Policy</a><br />

<p><b>iNaturalist OAuth (California Academy of Sciences)</b></p>

iNaturalist OAuth is a registration and authentication service provided by the California Academy of Sciences and is connected to the iNaturalist platform. Personal Data collected: various types of Data as specified in the privacy policy of the service. Place of processing: US – <a href="https://www.inaturalist.org/pages/privacy" target="_blank">Privacy Policy</a><br />

<h3>Collecting geolocation data from external social networks and platforms</h3>
<p>This type of services allow interaction with social networks or other external platforms, specifically the extraction of geolocation data from external social networks and platforms. The interaction and information obtained through this Application are always subject to the User’s privacy settings for each social network. Data collection will not take place without the User's explicit consent (i.e. by Registering and Authenticating with an external service as explained above). The geolocation data collected from external social networks and platforms are specific to each third party social network and platform and is detailed below.</p>

<p><b>Facebook API (Facebook, Inc.)</b></p>

Facebook API is a service provided by Facebook, Inc. and is connected to the Facebook social network. Personal Data collected: <a href="https://developers.facebook.com/docs/graph-api/reference/user/tagged_places" target="_blank">User Tagged Places</a>. Place of processing: US – <a href="https://www.facebook.com/help/405977429438260" target="_blank">Privacy Policy</a><br />

<p><b>Twitter API (Twitter, Inc.)</b></p>

Twitter API is a service provided by Twitter, Inc. and is connected to the Twitter social network. Personal Data collected: <a href="https://developer.twitter.com/en/docs/tweets/timelines/api-reference/get-statuses-user_timeline.html" target="_blank">User Timeline</a>. Place of processing: US – <a href="https://twitter.com/en/privacy" target="_blank">Privacy Policy</a><br />

<p><b>Instagram API (Facebook, Inc.)</b></p>

Instagram API is a service provided by Facebook, Inc. and is connected to the Instagram social network. Personal Data collected: <a href="https://www.instagram.com/developer/endpoints/users/" target="_blank">media/recent</a>. Place of processing: US – <a href="https://www.instagram.com/about/legal/terms/api/" target="_blank">Privacy Policy</a><br />

<p><b>Flickr API (Yahoo, Inc.)</b></p>

Flickr API is a service provided by Yahoo, Inc. and is connected to the Flickr social network. Personal Data collected: <a href="https://www.flickr.com/services/api/flickr.people.getPhotos.html" target="_blank">people.getPhotos</a>. Place of processing: US – <a href="https://policies.yahoo.com/privacy/flickr/" target="_blank">Privacy Policy</a><br />

<p><b>Foursquare API (Foursquare Labs, Inc.)</b></p>

Foursquare API is a service provided by Foursquare Labs, Inc. and is connected to the Foursquare and Foursquare/Swarm social networks. <a href="https://developer.foursquare.com/docs/api/users/checkins" target="_blank">checkins</a>. Place of processing: US – <a href="https://foursquare.com/legal/privacy" target="_blank">Privacy Policy</a><br />

<p><b>Meetup API (Meetup, Inc.)</b></p>

Meetup API is a service provided by Meetup, Inc. and is connected to the Meetup social network. Personal Data collected: <a href="https://www.meetup.com/meetup_api/docs/2/events/" target="_blank">events</a>. Place of processing: US – <a href="https://www.meetup.com/privacy/" target="_blank">Privacy Policy</a><br />

<p><b>OpenStreetMap API (OpenStreetMap Foundation)</b></p>

OpenStreetMap API is a service provided by the OpenStreetMap Foundation and is connected to the OpenStreetMap platform. Personal Data collected: <a href="https://wiki.openstreetmap.org/wiki/API_v0.6#Read:_GET_.2Fapi.2F0.6.2Fchangeset.2F.23id.3Finclude_discussion.3Dtrue" target="_blank">changesets</a>. Place of processing: US – <a href="https://wiki.openstreetmap.org/wiki/Privacy_Policy" target="_blank">Privacy Policy</a><br />

<p><b>Mapillary API (Mapillary AB)</b></p>

Mapillary API is a service provided by Mapillary AB and is connected to the Mapillary platform. Personal Data collected: <a href="https://www.mapillary.com/developer/api-documentation/#search-sequences" target="_blank">sequences</a>. Place of processing: US – <a href="https://www.mapillary.com/privacy" target="_blank">Privacy Policy</a><br />

<p><b>Strava API (Strava, Inc.)</b></p>

Strava API is a service provided by Strava, Inc. and is connected to the Strava social network. Personal Data collected: <a href="http://developers.strava.com/docs/reference/#api-Activities-getLoggedInAthleteActivities" target="_blank">activities</a>. Place of processing: US – <a href="https://www.strava.com/legal/privacy" target="_blank">Privacy Policy</a><br />

<p><b>iNaturalist API (California Academy of Sciences)</b></p>

iNaturalist API is a service provided by the California Academy of Sciences and is connected to the iNaturalist platform. Personal Data collected: <a href="https://www.inaturalist.org/pages/api+reference#get-observations-username" target="_blank">observations</a>. Place of processing: US – <a href="https://www.inaturalist.org/pages/privacy" target="_blank">Privacy Policy</a><br />

<h3>Hosting and backend infrastructure</h3>

<p>This type of services has the purpose of hosting data and files that enable this Application to run and be distributed as well as to provide a ready-made infrastructure to run specific features or parts of this Application. Some of these services work through geographically distributed servers, making it difficult to determine the actual location where the Personal Data are stored.</p>

<p><b>Amazon EC2 and RDS (Amazon Web Services, Inc.)</b></p>

Amazon EC2 (Elastic Computing Cloud) and RDS (Relational Database Service) are services provided by Amazon Web Services, Inc. Place of processing: US – <a href="https://aws.amazon.com/privacy/" target="_blank">Privacy Policy</a><br />

<h3>Academic research</h3>

<p>Data specified above is collected for academic research purposes only.</p>

<h2>Cookie Policy</h2>

<p>This Application uses Cookies. Cookies consist of portions of code installed in the browser that assist the Owner in providing the service according to the purposes described. Some of the purposes for which the Cookies are installed may also require the User's consent. This Application uses Cookies to save the User's session and to carry out other activities that are strictly necessary for the operation of the same.</h2>

<h2>Mode and place of processing the Data</h2>
<h3>Methods of processing</h3>

<p>The Data Controller processes the Data of Users in a proper manner and shall take appropriate security measures to prevent unauthorized access, disclosure, modification, or unauthorized destruction of the Data.

The Data processing is carried out using computers and/or IT enabled tools, following organizational procedures and modes strictly related to the purposes indicated.

The Data is processed at the Data Controller's operating offices and in any other places where the parties involved with the processing are located. For further information, please contact the Data Controller.</p>

<h3>Retention time</h3>

<p>The Data is kept for the time necessary to conduct the academic research, or stated by the purposes outlined in this document, and the User can always request that the Data Controller suspend or remove the data.</p>

<h3>The rights of Users</h3>

<p>Users have the right, at any time, to know whether their Personal Data has been stored and can consult the Data Controller to learn about their contents and origin, to verify their accuracy or to ask for them to be supplemented, cancelled, updated or corrected, or for their transformation into anonymous format or to block any data held in violation of the law, as well as to oppose their treatment for any and all legitimate reasons. Requests should be sent to the Data Controller at the contact information set out above.</p>


Last updated on April 20, 2018.
 </div>

{% endblock %}
