{% extends 'base.html' %}

{% load socialaccount %}
{% load custom %}
{% load i18n %}
{% load static %}

{% block social %}
<div class="jumbotron">
<div class="list-platforms">
	{% if user.is_authenticated %}
	<div class="container">
	<div class="row">
    	<div class="col-xs-12">
        	<div class="jumbotron thanks">
            	<img class="img-thumbnail img-responsive" src="{% static 'high-five.png' %}" alt="High five!">
		<h3>You're awesome, thanks for helping out!</br>Wanna be more awesome? Just go ahead and connect your other social accounts below!</h3>
        	</div>
        </div>
    	</div>
	</div>

	{% get_social_accounts user as accounts %}

	{% if accounts.instagram %}
	    <p class="bg-success">Instagram: <a href="https://instagram.com/{{accounts.instagram.0.extra_data.username}}" target="_blank">{{accounts.instagram.0.extra_data.username}}</a> </p>
	{% else %}
	    <p class="bg-warning">Connect your <a href="{% provider_login_url 'instagram' process='connect' next='/social'%}">Instagram profile</a></p>
	{% endif %}
	{% if accounts.twitter %}
	    <p class="bg-success">Twitter: <a href="https://twitter.com/{{accounts.twitter.0.extra_data.screen_name}}" target="_blank"> {{accounts.twitter.0.extra_data.screen_name}}</a></p>
	{% else %}
	    <p class="bg-warning">Connect your <a href="{% provider_login_url 'twitter' process='connect' next='/social'%}">Twitter profile</a></p>
		
	{% endif %}
	{% if accounts.facebook %}
	<p class="bg-success">Facebook: {{accounts.facebook.0.extra_data.first_name}}</p>
	{% else %}
	<p class="bg-warning">Connect your <a href="{% provider_login_url 'facebook' process='connect' next='/social'%}"> Facebook profile</a></p>
	{% endif %}
	{% if accounts.foursquare %}
	<p class="bg-success">Foursquare: <a href="{{accounts.foursquare.0.extra_data.canonicalUrl}}"  target="_blank">{{accounts.foursquare.0.extra_data.firstName}}</a></p>
	{% else %}
	<p class="bg-warning">Connect your <a href="{% provider_login_url 'foursquare' process='connect' next='/social'%}">Foursquare profile</a></p>
	{% endif %}
	{% if accounts.flickr %}
	<p class="bg-success">Flickr: <a href="{{ accounts.flickr.0.extra_data.person.profileurl|get_item:'_content' }}" target="_blank">{{ accounts.flickr.0.extra_data.person.realname|get_item:"_content" }}</a></p>
	{% else %}
	<p class="bg-warning">Connect your <a href="{% provider_login_url 'flickr' process='connect' next='/social'%}">Flickr profile</a></p>
	{% endif %}
	{% if accounts.openstreetmap %}
	<p class="bg-success">OSM: <a href="http://openstreetmap.org/user/{{accounts.openstreetmap.0.extra_data.display_name}}" target="_blank">{{accounts.openstreetmap.0.extra_data.display_name}}</a></p>
	{% else %}
	<p class="bg-warning">Connect your <a href="{% provider_login_url 'openstreetmap' process='connect' next='/social'%}">OSM profile</a></p>
	{% endif %}
	{% if accounts.mapillary %}
	<p class="bg-success">Mapillary: <a href="https://mapillary.com/app/user/{{accounts.mapillary.0.extra_data.username}}" target="_blank">{{accounts.mapillary.0.extra_data.username}}</a></p>
	{% else %}
	<p class="bg-warning">Connect your <a href="{% provider_login_url 'mapillary' process='connect' next='/social'%}">Mapillary profile</a></p>
	{% endif %}
	{% if accounts.meetup %}
	<p class="bg-success">Meetup: <a href="{{accounts.meetup.0.extra_data.link}}" target="_blank">{{accounts.meetup.0.extra_data.name}}</a></p>
	{% else %}
	<p class="bg-warning">Connect your <a href="{% provider_login_url 'meetup' process='connect' next='/social'%}">Meetup profile</a></br>
	{% endif %}
	{% if accounts.strava %}
	<p class="bg-success">Strava: <a href="https://straval.com/athletes/{{accounts.strava.0.extra_data.id}}" target="_blank">{{accounts.strava.0.extra_data.username}}</a></p>
	{% else %}
	<p class="bg-warning">Connect your <a href="{% provider_login_url 'strava' process='connect' next='/social'%}">Strava profile</a></br>
	{% endif %}
	{% if accounts.inaturalist %}
	<p class="bg-success">iNaturalist: <a href="{{accounts.inaturalist.0.extra_data.uri}}" target="_blank">{{accounts.inaturalist.0.extra_data.login}}</a></p>
	{% else %}
	<p class="bg-warning">Connect your <a href="{% provider_login_url 'inaturalist' process='connect' next='/social'%}">iNaturalist profile</a></br>

	{% endif %}
	<div class="container">
	<div class="row">
    	<div class="col-xs-12">
        	<div class="jumbotron helpmore">
		<h3><b>+1: Wannna be the best of the best?</b></h3>
		<p>There's one more thing you could help with then! Consider sharing your Google Location history with me. This information would help "ground truth" your social media activities. As usual, I keep everything confidential and no one will connect this back to your real identity. Visit <a href="/share_google">this page</a> for instructions if you're in!</p>
        	</div>
        </div>
    	</div>
	</div>
By logging in with 3rd party applications and connecting your profiles, you authorize my tools to collect basic information (such as user names and timelines) from your online accounts. Want to control what you've authorized so far? You can review your existing connections <a href="/social_connections">here</a>.


	{% else %}
	<h3>Log in with one of your social apps</h3>
	<h4>If you've previously been here, use one of the providers that's already connected</h4>
	<p class="bg-info">Log in with <a href="{% provider_login_url 'instagram' next='/social' %} ">Instagram</a></p>
	<p class="bg-info">Log in with <a href="{% provider_login_url 'twitter' next='/social' %}">Twitter</a></p>
	<p class="bg-info">Log in with <a href="{% provider_login_url 'facebook' next='/social' %}">Facebook</a></p>
	<p class="bg-info">Log in with <a href="{% provider_login_url 'foursquare' next='/social' %}">Foursquare/Swarm</a></p>
	<p class="bg-info">Log in with <a href="{% provider_login_url 'flickr' next='/social' %}">Flickr</a></p>
	<p class="bg-info">Log in with <a href="{% provider_login_url 'openstreetmap' next='/social' %}">OpenStreetMap</a></p>
	<p class="bg-info">Log in with <a href="{% provider_login_url 'mapillary' next='/social' %}">Mapillary</a></p>
	<p class="bg-info">Log in with <a href="{% provider_login_url 'meetup' next='/social' %}">Meetup</a></p>
	<p class="bg-info">Log in with <a href="{% provider_login_url 'strava'  next='/social'%}">Strava</a></p>
	<p class="bg-info">Log in with <a href="{% provider_login_url 'inaturalist' next='/social' %}">iNaturalist</a></p>

By logging in with 3rd party applications and connecting your profiles, you authorize my tools to collect basic information (such as user names and timelines) from your online accounts.
	{% endif %}

</div>
</div>
{% endblock %}

